.SelectContainer {
  border: none; /* slightly less light than the background, for subtle borders */
}

.Select {
  color: black; /* darker text color for readability */
  background-color: #fcf5e2; /* light background for the select element */
  border: 1px solid #eee8d5; /* light border for the select element */
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%; /* Optional: makes the select element expand to the full width of its container */
}

.Select option {
  color: #000; /* text color for options */
}
