.ColorContainer {
  background-color: #fcf5e2; /* Light background color from the Solarized Light palette */
  border: 1px solid #eee8d5; /* Subtle border matching the theme */
  border-radius: 4px;
  display: flex;
  justify-content: center; /* Centers the input horizontally */
  align-items: center; /* Aligns the input vertically */
  box-sizing: border-box; /* Ensures the padding and border are included in the width */
  padding: 0.5rem;
}

.ColorContainer input[type="color"] {
  -webkit-appearance: none; /* Removes default styling for WebKit browsers */
  width: 100%; /* Adjusts the width to half of the container for better design */
  height: 20px; /* Height of the input for better interaction */
  border: none; /* No border for the color input */
  cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
}

/* Specific styling for WebKit browsers to enhance the appearance of the color well */
.ColorContainer input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
}

.ColorContainer input[type="color"]::-webkit-color-swatch {
  border: 1px solid var(--base01); /* Adds a subtle border around the color well */
  border-radius: 4px; /* Rounds the corners of the color well */
}
