.Variable {
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 1rem;
  .varLabel {
    width: 50%;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 500;
  }
  .outerContainer {
    width: 50%;
  }
}
